    /*11111            11111   11111111111111  111       111         111111      111   11111111111  111111111   111111111        
      11111            11111   11 1            111       111         111  11     111   111           11          11            
      11111            11111   111             111       111         111   11    111   111             11          11                    
      11111   11111    11111   11111111111111  111       111         111    11   111   11111111111        11         11         
      11111  111  111  11111   111             111       111         111      11 111   111                  11         11        
      111111111     11111111   11111111111111  111111111 111111111   111        1111   11111111111  1111111111   111111111   

                                                                              
                                                                           111111111   111111111   111111111   
                                                                          11111111111  111    11   111    11 
                                                                          111     111  111   11    111   11
                                                                          11111111111  1111111     1111111    
                                                                          111     111  111         111  
                                                                          111     111  111         111     */


    /* Font Face Declarations
-------------------------------------------------- */
    @font-face {
        font-family: 'Gilroy';
        src: url('fonts/Gilroy-Regular.woff2') format('woff2'),
            url('fonts/Gilroy-Regular.woff') format('woff');
        font-weight: 400;
    }

    @font-face {
        font-family: 'Gilroy';
        src: url('fonts/Gilroy-Medium.woff2') format('woff2'),
            url('fonts/Gilroy-Medium.woff') format('woff');
        font-weight: 500;
    }

    @font-face {
        font-family: 'Gilroy';
        src: url('fonts/Gilroy-SemiBold.woff2') format('woff2'),
            url('fonts/Gilroy-SemiBold.woff') format('woff');
        font-weight: 600;
    }

    @font-face {
        font-family: 'Gilroy';
        src: url('fonts/Gilroy-Bold.woff2') format('woff2'),
            url('fonts/Gilroy-Bold.woff') format('woff');
        font-weight: 700;
    }

    * {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    /* Header styling */
    header {
        background-image: url('assets/photo.jpg');
        /* Add a background image for the hero section */
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }

    /* Navbar */
    .navbar {
        padding: 10px 0;
    }

    /* Nav bar links */
    .navbar-links {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    .navbar-links li {
        margin: 0 20px;
    }

    .navbar-links a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        transition: color 0.3s;
        font-weight: 700;
    }

    .navbar-links a:hover {
        color: white;
    }

    /* Hero Section Styles */
    .hero-section {
        color: white;
        text-align: center;
        padding: 100px 20px;
        position: relative;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* Hero content */
    .hero-content {
        max-width: 800px;
        margin: 0 auto;
    }

    .hero-section h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
        letter-spacing: 4px;
        margin: 0;
    }

    .hero-section p {
        font-size: 1.25rem;
        margin-bottom: 30px;
        font-weight: 600;
    }

    .hero-section-logo {
        max-width: 120px;
        /* Adjust the size of the logo */
        margin-right: 20px;
        /* Space between the logo and heading */
        border-radius: 20px;
    }

    .content-btn {
        background-color: #8B3A3A;
        color: white;
        padding: 15px 30px;
        font-size: 1rem;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    .content-btn:hover {
        background-color: #732b2b;
        color: white;
    }

    /* Sign in Button Styling */
    .sign-btn {
        background-color: #8B3A3A;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 16px;
    }

    .sign-btn:hover {
        background-color: #732b2b;
    }

    /* Popup Styling */
    .popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* Pop up content */
    .popup-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        border-radius: 20px;
    }

    /* Closer Button */
    .close-btn {
        font-size: 30px;
        color: #aaa;
        float: right;
        cursor: pointer;
    }

    .close-btn:hover,
    .close-btn:focus {
        color: black;
    }

    /* Form styling */
    form {
        display: flex;
        flex-direction: column;
    }

    /* Forms input */
    form input {
        margin-bottom: 10px;
        padding: 8px;
    }

    /* Form button */
    form button {
        padding: 10px;
        background-color: #8B3A3A;
        color: white;
        border: none;
        cursor: pointer;
    }

    form button:hover {
        background-color: #732b2b;
    }

    .home:hover {
        text-decoration: underline;
    }

    .faqs:hover {
        text-decoration: underline;
    }

    .ser:hover {
        text-decoration: underline;
    }

    .cont:hover {
        text-decoration: underline;
    }



    /* Basic reset */

    .container {
        width: 80%;
        margin: 0 auto;
    }

    /* Hero Section */
    .hero {
        background: #8F4F3E;
        color: white;
        padding: 50px 0;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 5px;
    }

    .hero h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    /* Cta button */
    .cta-button {
        background-color: #8B3A3A;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        font-size: 1.1rem;
        border-radius: 15px;
    }

    .cta-button:hover {
        background-color: #732b2b;
    }

    /* Services Section */
    .services {
        padding: 50px 0;
        letter-spacing: 1px;
        border-radius: 20px;
    }

    .services h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .service-cards {
        display: flex;
        justify-content: space-around;
        gap: 30px;
    }

    .service-card {
        background-color:  #e0e0e0;
        padding: 20px;
        border-radius: 8px;
        width: 30%;
        box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.5);
    }



    .service-card h3 {
        margin-bottom: 10px;
    }

    .service-card p {
        color: #777;
    }

    /* Testimonials Section */
    .testimonials {
        padding: 50px 0;
        text-align: center;
        letter-spacing: 1px;
    }

    /* Testiminial card */
    .testimonial-card {
        background-color: #e0e0e0;
        padding: 20px;
        border-radius: 8px;
        margin: 30px 0;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.5);
          transition: transform 0.2s ease, opacity 0.2s ease;
    }



    .testimonials p {
        font-style: italic;
    }


    /* Contact Section */
    .contact {
        background-color:  #e0e0e0;
        padding: 50px 0;
        letter-spacing: 1px;
        border-radius: 20px;
    }

    .contact h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .contact form {
        width: 50%;
        margin: 0 auto;
    }

    .contact label {
        display: block;
        margin-bottom: 8px;
    }

    .contact input,
    .contact textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact button {
        background-color: #8B3A3A;
        color: white;
        padding: 15px 25px;
        font-size: 1.1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .contact button:hover {
        background-color: #732b2b;
    }

    .button-container {
        letter-spacing: 1px;
    }

    /* FAQ Section Styles */
    .faq {
        padding: 60px 20px;
        color: #333;
    }

    .faq h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .faq-item {
        margin-bottom: 15px;
    }

    /* FAQs question */
    .faq-question {
        width: 100%;
        padding: 15px;
        text-align: left;
        background-color: #8B3A3A;
        color: white;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        letter-spacing: 1px;
    }

    .faq-question:hover {
        background-color: #732b2b;
    }

    /* FAQs answer */
    .faq-answer {
        padding: 15px;
        background-color: #D69A72;
        max-height: 0;
        /* Initially collapsed */
        overflow: hidden;
        transition: max-height 0.3s ease-out, padding 0.3s ease-out;
        /* Smooth transition */
        border-radius: 5px;
        box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.5);
        letter-spacing: 1px;
    }

    .faq-item.active .faq-answer {
        display: block;
    }

    .faq-item.active .faq-answer {
        max-height: 1000px;
        /* Large enough value to show content */
        padding: 15px;
        /* Retain padding */
    }

    /* Style the FAQ section container */
    .faq-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 15px;
    }

    /* Content Sections
-------------------------------------------------- */
    /* Common styles for benefits and features sections */
    .benefits,
    .features {
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        letter-spacing: 1px;
    }

    /* Benifits */
    .benefits {
        margin-top: 2rem;
    }

    /* Section Headers */
    .benefits h1,
    .features h1 {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
        margin-bottom: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

    /* List Styles */
    .benefits ul,
    .features ul {
        list-style-type: none;
    }

    .benefits li,
    .features li {
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.6;
        margin-bottom: 1rem;
        padding-left: 1.5rem;
        position: relative;
        font-weight: 400;
    }

    .benefits li strong,
    .features li strong {
        font-weight: 600;
    }

    /* Call-to-Action Section
-------------------------------------------------- */
    .button-container {
        text-align: center;
        padding: 2rem;
        margin-top: 2rem;
    }

    .button-container h1 {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
        margin-bottom: 1.5rem;
        font-weight: 600;
    }

    /* Button Styles */
    .btn {
        display: inline-block;
        font-size: clamp(0.875rem, 2vw, 1rem);
        padding: 0.75rem 1.5rem;
        margin: 0.5rem;
        cursor: pointer;
        text-decoration: none;
        border-radius: 5px;
        color: white;
        border: none;
        transition: transform 0.2s ease, opacity 0.2s ease;
        font-weight: 500;
        border-radius: 10px;
    }

    /* Button Hover Effects */
    .btn:hover {
        transform: translateY(-5px);
        opacity: 0.9;
    }

    /* Button Variations */
    .btn.microsoft {
        background-color: #8B3A3A;
    }

    .btn.appstore {
        background-color: #8B3A3A;
    }

    .btn.microsoft:hover {
        background-color: #732b2b;
    }

    .btn.appstore:hover {
        background-color: #732b2b;
    }


#rating {
    display: grid;
    place-items: center; /* This centers the content horizontally and vertically */
    background-color: white;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    text-align: center;
    max-width: 550px; /* Width of the rating container */
    margin: 0 auto;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.5);
}

/* Style for stars */
.star {
    font-size: 40px;
    color: #ccc; /* Default star color (unselected) */
    cursor: pointer;
    transition: color 0.3s;
}

/* Hover effect for stars */
.star:hover {
    color: #f1c40f; /* Gold color for hover */
}

/* Style for the selected stars */
.selected {
    color: #f1c40f; /* Gold color for selected stars */
}

/* Style for the rating value */
#ratingValue {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

    /* Footer
-------------------------------------------------- */
    footer {
        text-align: center;
        padding: 2rem;
        margin-top: 2rem;
        font-weight: 400;
    }

    .footer {
        background-color: #8B3A3A;
        color: white;
        padding: 20px 0;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 5px;
    }

    .footer p {
        margin: 0;
    }


    /* Responsive Design
-------------------------------------------------- */
    /* Tablet Styles */
    @media (max-width: 768px) {

        /* Content adjustments */
        .benefits,
        .features {
            padding: 1rem;
        }

        .benefits li,
        .features li {
            padding-left: 1rem;
        }

        /* Button adjustments for smaller screens */
        .button-container {
            padding: 1rem;
        }

        .btn {
            display: block;
            width: 80%;
            max-width: 300px;
            margin: 1rem auto;
        }

        .contact form {
            width: 85%;
            margin: 0 auto;
        }

    }

    /* Mobile Styles */
    @media (max-width: 480px) {

        /* Content spacing adjustments */
        .benefits,
        .features {
            margin-top: 1rem;
        }

        .benefits li,
        .features li {
            line-height: 1.4;
        }
    }

    /* Mobile and Tablet Styles */
    @media (max-width: 768px) {

        /* Navbar becomes a column */
        .navbar-links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 10px;
        }

        .navbar-links li {
            margin: 10px 0;
            /* Space out items */
        }

        .sign-btn {
            margin-top: 10px;
            /* Space out sign-in button */
        }
    }

    @media (max-width: 480px) {

        /* Further adjustments for smaller screens */
        .navbar-links li {
            margin: 8px 0;
        }

        .sign-btn {
            font-size: 0.9rem;
            /* Adjust button size for smaller screens */
        }
    }


    /* Responsive styles for smaller screens */
    @media (max-width: 768px) {
        .service-cards {
            justify-content: center;
            /* Center the service cards */
        }

        .service-card {
            width: 45%;
            /* Each service card takes up 45% of the width */
        }
    }

    @media (max-width: 480px) {
        .service-cards {
            flex-direction: column;
            /* Stack the service cards vertically */
            align-items: center;
            /* Center the cards */
        }

        .service-card {
            width: 80%;
            /* Each service card takes up 80% of the width */
            margin-bottom: 20px;
            /* Add space between stacked cards */
        }
    }